<div class='container-fluid'>
	<div class='row-fluid'>
		<div class='span3'>
		<p class='make_bold'>Manhattan Food Truck Finder</p>
		<% if @location == [] %>
			No recent tweets.
		<% else %>
			Recent tweets by:
				<ul><%- @locations.each do |l| %>
					<li><%= l.truck.name %></li>
				<% end %>
				</ul>
			<% end %>
		</div>
		<div class='span9'>
			<div id="map-canvas">
				<script type="text/javascript">
					function initialize() {
					  var mapOptions = {
					    center: new google.maps.LatLng(40.768483, -73.981248),
					    zoom: 12,
					    mapTypeId: google.maps.MapTypeId.ROADMAP
					  };

					  var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
						
						<% @locations.each do |l| %>

							var markerposition = new google.maps.LatLng(<%= l.latitude %>, <%= l.longitude %>);

							var marker<%= l.id %> = new google.maps.Marker({
						            position:markerposition
						          });

							marker<%= l.id %>.setMap(map);

							var contentString = '<div><p>Food Truck: <%= l.truck.name %></br>' + 'Tweet: <%= l.twitter_text.gsub('&amp', '&') %>'+ '</br>Tweeted at: <%= time_formater(l.time).strftime('%I:%M %p') %></p></div>';

				      var infowindow<%= l.id %> = new google.maps.InfoWindow({
				      	content: contentString
				      });


					    google.maps.event.addListener(marker<%= l.id %>, 'click', function(event) {
					      infowindow<%= l.id %>.open(map, this);
					      currentMark = this;

					    });

					    google.maps.event.addListener(infowindow, 'click', function(event) {
            		infowindow.close();

          		});
						<% end %>
					}

					google.maps.event.addDomListener(window, 'load', initialize);
				</script>
			</div>
		</div>
	</div>
</div>