<div id="map-canvas"/>
	<script type="text/javascript">
		function initialize() {
		  var mapOptions = {
		    center: new google.maps.LatLng(40.768483, -73.981248),
		    zoom: 12,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
		  };

			var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
			var markerposition = new google.maps.LatLng(<%=@location.latitude%>,<%=@location.longitude%>);

			var marker<%=@location.id%> = new google.maps.Marker({
		            position:markerposition});

			marker<%=@location.id%>.setMap(map);

			var contentString = '<div><p>Food Truck: <%= @location.truck.name %></p>' + '<p>Tweet: <%= @location.twitter_text %></p>Tweeted at: <%= Time.parse(@location.time).strftime('%H:%M') %></p></div>'

      var infowindow<%=@location.id%> = new google.maps.InfoWindow({
      	content: contentString
      });


	    google.maps.event.addListener(marker<%=@location.id%>, 'click', function() {
	      infowindow<%=@location.id%>.open(map,marker<%=@location.id%>);

	    });

		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</div>